requests==2.11.1
nltk==3.2.1
scikit-learn==0.17.1
scipy==0.13.3
numpy==1.11.2
argparse==1.4.0
gensim==0.13.2
wikipedia==1.4.0
Flask==0.12.2
Werkzeug==0.14.1
Flask-WTF==0.12
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Bcrypt==0.6.2
Flask-DebugToolbar==0.9.2
Flask-SQLAlchemy==2.1
Flask-Admin==1.5.0
tweepy==3.5.0
psycopg2==2.7.3.2
praw==5.3.0
pathos==0.2.1
plotly==2.3.0
pandas==0.22.0
rauth==0.7.0
uWSGI==2.0.17
Fabric==1.14.0
