{% extends "_base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-2 col-xs-0"></div>
  <div class="col-lg-3 col-xs-6 text-center">
    <h3>Social network:</h3>
    <h4><em>{{ network }}</em></h4>
  </div>
  <div class="col-lg-2 col-xs-0"></div>
  <div class="col-lg-3 col-xs-6 text-center">
    <h3>Username:</h3>
    <h4><em>{{ user }}</em></h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Graphical results:</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-xs-0"></div>
  <div class="col-lg-10 col-xs-12">
    {{ graph|safe }}
  </div>
  <div class="col-lg-1 col-xs-0"></div>
</div>
<div class="row">
  <div class="col-lg-1 col-xs-0"></div>
  <div class="col-lg-10 col-xs-12">
    {{ graph2|safe }}
  </div>
  <div class="col-lg-1 col-xs-0"></div>
</div>
<div class="row">
  <div class="col-lg-1 col-xs-0"></div>
  <div class="col-lg-10 col-xs-12">
    {{ graph3|safe }}
  </div>
  <div class="col-lg-1 col-xs-0"></div>
</div>
{% endblock %}